<span>Snake Game</span>
<form [formGroup]="ngForm" (ngSubmit)="submit(ngForm)" autocomplete="off">
    <label for="playerName" >Player name: <p [style]="{'color':ngForm.get('name')?.invalid ? 'red' : 'darkgreen','font-size':'20px'}">Enter your player name</p></label>
    <input id="playerName" [style]="{'color': ngForm.get('name')?.valid ?'green':'red'}" type="search" formControlName="name">
    <i>(letters and numbers only, no punctuation or special characters)</i>
    <label for="playerEmail">Token:<p [style]="{'color':ngForm.get('token')?.invalid ? 'red' : 'darkgreen','font-size':'20px'}">Enter your token</p></label>
    <input id="playerEmail" [style]="{'color':'green'}"  type="password" formControlName="token">
    <div>
        <select formControlName="colorName" 
                (change)="changeColor($event)"        
        > 
        <option *ngFor="let opt of colors"
                [value]="opt">{{opt}}
        </option>
    </select></div>
    <div><button [style]="{'cursor':!ngForm.valid?'not-allowed':'pointer'}" [disabled]="!ngForm.valid" type="submit">Go !!!!!</button></div>
</form>
