.intro {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "points time time  gameplayHistory" "playerName snake snake  gameplayList" "backButton buttons buttons gameplayList";
}

.points {
  grid-area: points;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 25px;
}

.time {
  grid-area: time;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.time p {
  display: block;
  padding: 10px;
}

.snake {
  grid-area: snake;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.buttons {
  grid-area: buttons;
  display: grid;
  justify-content: center;
  align-items: center;
}

.buttons button {
  min-width: 40px;
  min-height: 40px;
}

.gameplayHistory {
  padding: 10px;
  grid-area: gameplayHistory;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.gameplayList {
  grid-area: gameplayList;
  overflow: hidden;
  background-color: transparent;
}

.playerName {
  grid-area: playerName;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.backButton {
  grid-area: backButton;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.backButton button {
  font-family: 'Monoton', cursive;
  border: none;
  background-color: transparent;
  font-size: 40px;
  padding: 15px;
  cursor: pointer;
}

.action {
  font-family: 'Monoton', cursive;
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}

.scoreListButton {
  font-family: 'Monoton', cursive;
  border: none;
  background-color: transparent;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}

ngx-snake.black-and-white ngx-snake-tile {
  background: #ffffff;
}

ngx-snake.black-and-white ngx-snake-tile.free div {
  background: #ffffff;
}

ngx-snake.black-and-white ngx-snake-tile.head div, ngx-snake.black-and-white ngx-snake-tile.tail div, ngx-snake.black-and-white ngx-snake-tile.food div, ngx-snake.black-and-white ngx-snake-tile.body div {
  background: #000000;
}
