.select, .selected {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  font-size: 18px;
}

.select button {
  font-family: 'Monoton', cursive;
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.select div {
  padding: 10px;
}

select {
  background-color: transparent;
}
